@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.container {
  max-width: 1000px;
  height: 400px;
  margin: 50px auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.cards {
  width: 200px;
  min-height: 100px;
  background-color: olive;
  color: white;
  display: flex;
  border-radius: 10px;
  align-items: inherit;
  justify-content: inherit;
  font-family: 'Comfortaa', sans-serif;
  box-shadow: 5px 5px 5px gray;
}
